<% if flash[:notice].present? %>
  <script>
    toastr.options.positionClass = 'toast-bottom-right';
    toastr.options.closeButton = true;
    toastr.options.progressBar = true;
    toastr.options.timeOut = 2000;
    toastr.success("<%= j flash[:notice] %>");
  </script>
<% end %>

<% if @user.errors.any? %>
  <script>
    toastr.options.positionClass = 'toast-bottom-right';
    toastr.options.closeButton = true;
    toastr.options.progressBar = true;
    toastr.options.timeOut = 5000;
    <% @user.errors.full_messages.each do |message| %>
      toastr.error("<%= j message %>");
    <% end %>
  </script>
<% end %>

<div class="container container-sm" style="max-width: 540px;">
  <%= form_with(url: profiles_path, model: @user, local: true	) do |f| %>
    <div class="card shadow rounded" >
      <div class="row">
        <div class="p-4 mb-4">
          <div class="card-header bg-transparent">
            <h2 class="card-title text-center">Editting User Profile</h2>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <%= f.label :first_name, class:"form-label"%><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :last_name, class:"form-label"%><br />
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :email, class:"form-label", for:"disabledField" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:"disabledInput", disabled: true %>
            </div>

            <div class="mb-3">
              <%= f.label :password, class:"form-label no-hover-bg" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :password_confirmation, class:"form-label no-hover-bg" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="mb-3">
              <%= f.label :avatar, class: "form-label" %><br>
              <%= f.file_field :avatar, class: "form-control" %>
            </div>
          </div>

          <div class="card-footer bg-transparent">
            <div class="d-grid">
              <%= f.submit "Update", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
