<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-body">
    <div class="mb-3">
      <%= form.label :title, class:"form-label" %>
      <%= form.text_field :title, class:"form-control", placeholder:"Enter title here!" %>
    </div>

    <div class="mb-3">
      <%= form.label :body, class:"form-label" %>
      <%= form.text_area :body, class:"form-control", placeholder:"Enter task description here!" %>
    </div>

    <div class="mb-3">
      <%= form.label :delivery_date, class:"form-label" %>
      <%= form.date_field :delivery_date, class: "form-control", id: "delivery_date_field" %>
    </div>

    <div class="mb-3">
      <%= form.label :completed, class:"form-label" %>
      <%= form.check_box :completed, class: "form-check-input"%>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("#delivery_date_field").datepicker
  });
</script>
