<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="d-flex justify-content-center">To do List</h1>

  <div class="row">
    <div class="col-md-12 mt-4 mb-4 d-flex justify-content-between align-items-center">
      <%= link_to new_task_path, { remote: true, 'data-toggle': "modal", 'data-target': '#modal-report', action: 'new', class: 'btn btn-primary text-light' } do %>
        <i class="fas fa-plus"></i> New Task
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-dark text-light" do %>
        <i class="fas fa-sign-out-alt"></i> Logout
      <% end %>
    </div>
    <% @tasks.each do |task| %>
      <div class="col-md-3">
        <div class="card shadow pt-2 ps-2 pe-2 mb-5 rounded">
          <div class="card-header bg-transparent">
            <h5 class="card-title"><%= task.title %></h5>
          </div>
          <div class="card-body">
            <p class="card-text task-description"><strong>Task:</strong> <br> <%= task.body %></p>
            <p class="card-text"><strong>Delivery Date:</strong> <%= task.delivery_date.strftime('%d/%m/%Y') %></p>
            <%= simple_form_for(task, remote: true) do |f| %>
              <%= f.label :completed, "Completed:", class: 'form-check-label' %>
              <%= f.check_box :completed, class: 'form-check-input' %>
          </div>
            <div class="card-footer actions d-flex justify-content-between button-container bg-transparent">
              <button class="btn btn-outline-primary">
                <i class="fa-solid fa-arrows-rotate"></i>
              </button>

              <%= link_to edit_task_path(task), remote: true, 'data-toggle': "modal", 'data-target': '#modal-report', action: 'edit', class: 'btn btn-outline-secondary' do %>
                <i class="fas fa-edit"></i>
              <% end %>
              
              <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>
