<% if flash[:notice].present? %>
  <script>
    toastr.options.positionClass = 'toast-bottom-right';
    toastr.options.closeButton = true;
    toastr.options.progressBar = true;
    toastr.options.timeOut = 2000;
    toastr.success("<%= j flash[:notice] %>");
  </script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 mb-4 d-flex justify-content-between align-items-center">
      <%= link_to new_task_path, { remote: true, 'data-toggle': "modal", 'data-target': '#modal-report', action: 'new', class: 'btn btn-primary text-light' } do %>
        <i class="fas fa-plus"></i> New Task
      <% end %>
    </div>
    <% @tasks.each do |task| %>
      <div class="col-md-12">
        <div class="card shadow-sm ps-2 mb-3 rounded">
          <div class="card-body d-flex justify-content-between align-items-center">
            <h5 class="card-title col-md-8"><%= task.title %></h5>
            <div class="actions d-flex col-md-4">

              <i class="fa-solid fa-circle me-3 mt-2 custom-cursor-pointer task-status-<%= task_status_class(task) %>" 
                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-original-title="
                <span><%= task_status_class(task).capitalize %></span> </br> 
                <span><%= task.delivery_date.strftime('%d/%B') %></span>">
              </i>

              <% if task.reminder %>
                <i class="fa-solid fa-bell me-3 mt-2"></i>
              <% else %>
                <i class="fa-regular fa-bell me-3 mt-2"></i>
              <% end %>

              <%= simple_form_for(task, remote: true) do |f| %>
                <%= f.label :completed, "Completed:", class: 'form-check-label fw-bolder me-2' %>
                <%= f.check_box :completed, class: 'form-check-input me-4 mt-2' %>
                <button class="btn btn-outline-primary  me-2">
                  <i class="fa-solid fa-arrows-rotate"></i>
                </button>

                <%= link_to edit_task_path(task), remote: true, 'data-toggle': "modal", 'data-target': '#modal-report', action: 'edit', class: 'btn btn-outline-secondary  me-2' do %>
                  <i class="fas fa-edit"></i>
                <% end %>
                
                <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger  me-2' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @tasks %>
  </div>
  <br>
</div>

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl);
    });
  });
</script>
